body {
    --color-header-bg: #fff;
    --color-header-border: #e5e6eb;
    --color-header-text: #4E5969;
    --color-header-border-text: #F2F3F5;
    --color-aside-bg: #fff;
    --color-aside-item-bg: #fff;
    --color-aside-item-text: #4E5969;
    --color-aside-selected-bg: #F2F3F5;
    --color-aside-selected-text: #165DFF;
}
//body {
//    --color-header-bg: #2c3643;
//    --color-header-border: #2c3643;
//    --color-header-text: #b5b4c2;
//    --color-header-border-text: #4b4e53;
//    --color-header-tabs-bg: #262f3a;
//    --color-aside-bg: #2c3643;
//    --color-aside-item-bg: #212e3f;
//    --color-aside-item-text: #b5b4c2;
//    --color-aside-selected-bg: #313f52;
//    --color-aside-selected-text: #ffffff;
//}
body[arco-theme='dark'] {
    --color-header-bg: #232324;
    --color-header-border: #333335;
    --color-aside-bg: #232324;
    --color-header-text: #b5b4c2;
    --color-aside-item-bg: #232324;
    --color-aside-item-text: #b5b4c2;
    --color-aside-selected-bg: #313f52;
    --color-aside-selected-text: #ffffff;
}
